.layui-card {
	min-height: 500px;
}
.text-success {
    color: rgb(84, 197, 14)!important;
}

.text-proceed {
    color: rgb(86, 159, 251)!important;
}

.text-warning {
    color: #f8ac59!important;
}

.text-error {
    color: rgb(228, 74, 79)!important;
}


.hr-line-dashed {
	margin: 20px 0;
    height: 1px;
    border-top: 1px dashed #e7eaec;
    background-color: #fff;
    color: #fff;
}

.layui-btn .layui-icon {
	display: inline-block;
	margin-top: -4px;
	vertical-align: middle;
}